*{
    margin: 0;
    box-sizing: 0;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000f2;
    color: white;
}

#row{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}
#card{
    width: 20%;
    border: 1px solid rgba(184, 162, 162, 0.096);
    margin: 10px 20px;
    border-radius: 15px;
    text-align: center;
    /* display: flex; */
}

#card img{
    /* text-align: center; */
    padding-top: 20px;
    width: 200px;
    height: 200px;

}

.p{
    text-align: center;
    padding-top: 10px;
    color: rgb(228, 219, 220);
}