/* =====================
   Meal Cards
===================== */
.meal-card {
    border-radius: 20px;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #111;
  }
  
  .meal-card:hover {
    transform: translateY(-5px);
  }
  
  /* =====================
     Meal Image
  ===================== */
  .meal-img-box {
    background-color: var(--dark-gray);
    width: 100%;
    height: 220px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .meal-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.35s ease;
  }
  
  .meal-card:hover img {
    transform: scale(1.1);
  }
  
  /* =====================
     Meal Info
  ===================== */
  .meal-info {
    padding: 15px;
    background-color: #1a1a1a;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .meal-info h5 {
    color: var(--yellow);
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
  }
  
  /* =====================
     Favorite Icon
  ===================== */
  .fav-icon {
    position: absolute;
    top: 7px;
    right: 4px;
    font-size: 1.35rem;
    color: var(--light-gray);
    transition: var(--transition);
    z-index: 1000;
  }
  
  /* hover effect (very soft) */
  .fav-icon:hover {
    transform: scale(1.15);
    color: var(--red);
  }
  
  /* active (liked) */
  .fav-icon.active {
    color: var(--red);
  }
  