/* =====================
   Ingredient Cards
===================== */
.ingredient-card {
  /* box-shadow: 8 8px 25px var(--yellow); */
  border-radius: 20px;
  overflow: hidden;
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ingredient-card:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 12px 30px var(--yellow); */
}

/* =====================
Ingredient Image
===================== */
.ingredient-img-box {
    background-color: var(--dark-gray); 
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--dark-gray); */
  }
  
  .ingredient-img-box img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .ingredient-card:hover img {
    transform: scale(1.1);
  }
  
  /* =====================
     Ingredient Info
  ===================== */
  .ingredient-info {
    padding: 15px;
    color: #ccc;
    text-align: center;
    background-color: #1a1a1a; 

    /* background-color: #111; */

  }
  
  .ingredient-info h5 {
    color: var(--yellow);
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .ingredient-info p {
    font-size: 0.85rem;
    color: var(--light-gray);
    line-height: 1.4;
    max-height: 70px; /* يمنع الكروت الكبيرة جدًا */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* =====================
     Layout Spacing
  ===================== */
  #ingredientResult .col {
    display: flex;
  }
  
  /* =====================
     Responsive
  ===================== */
  @media (max-width: 768px) {
    .ingredient-card {
      height: auto;
    }
  
    .ingredient-img-box {
      height: 150px;
    }
  }
  