* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #111; */
}

.overlay {
  position: absolute;
  inset: 0;
  background: #ffffff;
  z-index: 1;
}

.signup-card {
  position: relative;
  z-index: 2;
  width: 500px;
  /* height: 500px; */
  max-width: calc(100% - 40px);
  /* background: #d16d8a; */
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card h1 {
  margin-bottom: 12px;
  /* color: white; */
  font-size: 45px;
}
.signup-card h2 {
  margin-bottom: 12px;
  color: white;
}

.signup-card input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border-radius: 15px;
  border: 1px solid;
  outline: none;
  color: #a34d66;
  opacity: 50%;
}
.signup-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: red;
  opacity: 75%;
  color: #fff;
  cursor: pointer;
}
.signup-card button:hover {
  opacity: 100%;
}
.signup-card p {
  margin-top: 15px;
}
.signup-card p a {
  color: #ddd;
  text-decoration: none;
}

@media (max-height: 500px) {
  .hero {
    height: auto;
    padding: 40px 0;
  }
}
